{% extends "layout.html" %}

 {% block body %}
 {% from "includes/formhelpers.html" import render_field %}
    <br></br>
    <br></br>
    <h3 style="margin-left:60px;"> Kayıt Olun</h3>
    <hr>
    <form method="post" style="margin-left:70px;">
        {{ render_field(form.isim, class="form-control", style="width: 300px;") }}
        {{ render_field(form.soyisim, class="form-control", style="width: 300px;") }}
        {{ render_field(form.tckn, class="form-control", style="width: 300px;") }}
        {{ render_field(form.gorevi, class="form-control", style="width: 300px;") }}
        {{ render_field(form.kangrubu, class="form-control", style="width: 300px;") }}
        {{ render_field(form.email, class="form-control", style="width: 300px;") }}
        {{ render_field(form.sifre, class="form-control", style="width: 300px;") }}
        {{ render_field(form.confirm, class="form-control", style="width: 300px;") }}
        <button type="submit" style="margin-left:230px;" class="btn btn-outline-danger">Kaydol</button>
    </form>
 {% endblock %}