{% extends "layout.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<br></br>
<br></br>
<h3>Şifreni Güncelle</h3>
<hr>
<form method="post" style="margin-left:70px;">
        {{ render_field(form.yenisifre, class="form-control", style="width: 300px;") }}
        {{ render_field(form.tekrarsifre, class="form-control", style="width: 300px;") }}
        {{ render_field(form.eskisifre, class="form-control", style="width: 300px;") }}
        <button type="submit" style="margin-left:230px;" class="btn btn-outline-danger">Güncelle</button>
</form>
{% endblock %}